body {
    margin: 0px;
    padding: 0px;
}

.inputValues {
    display: flex;
}

.budgetBox {
    background-color: #F1F0EA;
    margin: 5px;
    padding: 40px;
    border: 0px solid #F1F0EA;
    border-radius: 10px;
    height: 200px;
}

.calculatonBox {
    background-color: #F1F0EA;
    margin: 5px;
    padding: 40px;
    border: 0px solid #F1F0EA;
    border-radius: 10px;
    height: 300px;
}

.paraBg {
    background-color: #087CA7;
    opacity: 0.6;
    height: 25px;
    font-size: 20px;
    padding: 5px;
    padding-left: 10px;
    border-radius: 5px;
    color: #F1F0EA;

}

#budget {
    width: 200px;
    height: 40px;
    font-size: 25px;
}

.h2 {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button {
    background-color: #087CA7;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    opacity: 1
}

.Expense {
    background-color: #F1F0EA;
    margin: 5px 0px;
    padding: 40px;
    border: 0px solid #F1F0EA;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.txtField {
    width: 400px;
    height: 40px;
    font-size: 25px;
}

.expenselist{
    background-color: #F1F0EA;
    margin: 5px 5px;
    padding: 40px;
    border: 0px solid #F1F0EA;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 500px;
}

.ExpList {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #087CA7;
    border-radius: 5px;
    color: #F1F0EA;
    opacity: 0.6;
}

.expDate{
    font-size: small;
    margin-top: -15px;
}